<html xmlns:th="http://thymeleaf.org">

<head>
    <title>
        Transaction Information
    </title>
</head>

<body>

    <div th:if=" ${retrievedTransaction.type == 'D'}"> 
        <div>
        <h2 th:inline="text">Transaction ID : [[${retrievedTransaction.id}]] (Debit)</h2></div>

        <div><span th:inline="text">Date: [[${retrievedTransaction.date}]]</span></div>
        <div><span th:inline="text">Amount: [[${retrievedTransaction.amount}]]</span></div>
        <div><span th:inline="text">Description: [[${retrievedTransaction.description}]]</span></div>
      
    </div>
    <div th:if=" ${retrievedTransaction.type == 'C'}"> 
        <div>
        <h2 th:inline="text">Transaction ID : [[${retrievedTransaction.id}]] (Credit)</h2></div>

        <div><span th:inline="text">Date: [[${retrievedTransaction.date}]]</span></div>
        <div><span th:inline="text">Amount: -[[${retrievedTransaction.amount}]]</span></div>
        <div><span th:inline="text">Description: [[${retrievedTransaction.description}]]</span></div>
        

    </div>

    <div><span><a  th:href="@{/transactions}" >back</a></span></div>
    
</body>
</html>