<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Online Bank</title>
		<link rel="stylesheet" href="/css/transactions.css"/>
	</head>
	<body>
		<h2>Transaction History</h2>
		
		<table>
			<!-- this is the Header for the Table, designating the rows-->
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Retailer</th>
				<th>Funds In</th>
				<th>Funds Out</th>
			</tr>

			<!--these are dynamic Table Rows that will populate with each transaction within the List inside the
				 ModelMap under the Keyu transList-->
			<tr th:each="eachTransaction : ${transList}">
			
				<!-- This row populates -->
				<td> <span th:inline="text">
					<a th:href="@{/transactions/{transId}(transId=${eachTransaction.id})}">
					[[${eachTransaction.id}]]
					</a>
				</span></td>
				<td>
					<span  th:inline="text"></span>
					[[${eachTransaction.date}]]
					</span></td>
				<td >
					<span th:inline="text">[[${eachTransaction.retailer}]]</span>
				</td>
				<!--if the transactions description is funds in, this cell will display
						the "amount" variable of the transaction, otherwise is will
						display zero-->

				<td  >

					<span  th:if="${eachTransaction.type == 'C'}" th:inline="text">[[${eachTransaction.amount}]] </span>
					<span  th:unless="${eachTransaction.type == 'C'}"  ></span>
				</td>
				<!--if the transactions description is funds in, this cell will display
						the "amount" variable of the transaction, otherwise is will
						display zero-->
				<td >
					<span th:if="${eachTransaction.type == 'D'}"  th:inline="text">[[${eachTransaction.amount}]]</span>
					<span  th:unless="${eachTransaction.type == 'D'}"  th:text="${amount}"></span>
				</td>

			</tr>
			
			
		</table>
	</body>
</html>